
@font-face {
  font-family: 'DIN-Black';
  src: url('DIN-Black.eot?#iefix') format('embedded-opentype'),  url('DIN-Black.otf')  format('opentype'),
	     url('DIN-Black.woff') format('woff'), url('DIN-Black.ttf')  format('truetype'), url('DIN-Black.svg#DIN-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
